<div class="row">
  <div class="col-md-5">
    <app-recipe-list (recipeWasSelected)="recipeSelected($event)"></app-recipe-list>
    <!-- (selectedRecipe)="selectRecipe($event)" -->
  </div>
  <div class="col-md-7">
    <app-recipe-detail
      *ngIf="selectedRecipe; else noRecipe"
      [recipe]="selectedRecipe"
    ></app-recipe-detail>
    <ng-template #noRecipe>
      <p>
        Please select a Recipe on the left side !
      </p>
    </ng-template>
  </div>
</div>