<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a 
        class="nav-link"
        [ngClass]="{ 'active' : menuItem === 'recipe' }"
        href="#" 
        (click)="showNavItem('recipe')">Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [ngClass]="{ 'active' : menuItem === 'shopping' }"
        href="#" 
        (click)="showNavItem('shopping')">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar navbar-nav navbar-right">
      <li class="nav-item dropdown" appDropdown>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" class="nav-link">Save Data</a></li>
          <li><a href="#" class="nav-link">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>