<!--The content below is only a placeholder and can be replaced.-->
<app-header [menuItem]="menuItem" (menuItemChanged)="changeMenuItem($event)"></app-header>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-recipe *ngIf="menuItem === 'recipe'"></app-recipe>
        <app-shopping-list *ngIf="menuItem === 'shopping'"></app-shopping-list>
      </div>
    </div>
  </div>
</div>
<h2 style="display: none;">Here are some links to help you start: </h2>
<ul style="display: none;">
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

