<div class="row">
  <div class="col-12">
    <form action="">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text" 
            id="name" 
            class="form-control"
            #nameInput
          >
        </div>
        <div class="col-sm-2">
            <label for="amount">Amount</label>
            <input 
              type="number" 
              id="amount" 
              class="form-control"
              #amountInput
            >
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" (click)="addItem(nameInput.value, amountInput.value)">Add</button>
          <button type="submit" class="btn btn-danger">Delete</button>
          <button type="submit" class="btn btn-primary">Clear</button>
      </div>
      </div>
    </form>
  </div>
</div>