<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-recipe-item
      *ngFor="let recipeItem of recipes"
      [recipe]="recipeItem"
      (recipeSelected)="onRecipeSeletected(recipeItem)"
    ></app-recipe-item>
  </div>
</div>